---
import Modal from "../components/Modal.astro";
import Recetas from "../components/Recetas.astro";
import SearchForm from "../components/SearchForm.astro";
import MainLayout from "../layouts/MainLayout.astro";

const title = "Buscador Recetas";
const description =
  "Selecciona la categoría de comida deseada y encuentra cientos de recetas para chuparte los dedos";
---

<MainLayout title={title} description={description}>
  <h1 class="font-bold text-3xl text-center mb-8">{title}</h1>
  <SearchForm />
  <Recetas />
  <Modal />
</MainLayout>

<script src="../scripts/app"></script>
