---
---

<form
  action=""
  class="px-4 xs:px-8 py-8 bg-red-50 border border-gray-200 rounded-lg max-w-lg mx-auto"
>
  <div class="flex flex-col gap-2">
    <label for="categoria" class="font-semibold">Categoría:</label>
    <select
      name="categoria"
      id="categoria"
      class="border-gray-200 rounded-lg focus-visible:outline focus-visible:outline-red-200 focus-visible:outline-1 text-stone-600"
    >
      <option value="">--Seleccionar--</option>
    </select>
  </div>
</form>

<script src="../scripts/seleccionarCategoria"></script>
