---
---

<section
  id="toast"
  class="bg-black/60 fixed inset-0 justify-center items-center p-4 hidden"
>
  <div
    id="toast-container"
    class="max-w-xs ml-auto rounded-t-lg overflow-hidden"
  >
    <header
      id="toast-header"
      class="bg-red-700 text-red-50 flex justify-between items-center px-4 py-1"
    >
    </header>
    <div id="toast-body" class="bg-red-50 rounded-b-lg px-4 py-2 text-sm"></div>
  </div>
</section>
